*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.container1{
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 20%;
    min-width:400px;
    margin-top: 30px;
}
.result{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 75px;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    background: #fff;
    color: #000;
    padding:0 10px;
}
.calculator-screen {
    height: 50px;
    flex-grow: 1;
    border: 2px solid grey;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.operators{
    display: flex;
    flex-direction: row;
    flex: 0 1 100%;
}
.container2{
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 20%;
    min-width:400px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.button{
    display:flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    background: -webkit-linear-gradient(top,#d2d2d2,#ddd);
    font-size:2em;
}

.button.equal {
    flex-grow: 1;
}
.equal-sign.operator {
    flex-grow: 1;
    height: 100%;
    background: rgb(74, 74, 146);
    color: white;
}

.button.number,.resetBtn {
    background: whitesmoke;
}

